<h1>Simple Calculator coming up here!</h1>
<p>Description to follow here</p>
<div class="calcContainer">
  <input type="text" #input value="{{inputValue}}"/>
  <button (click)="calculate(input.value)">Calculate</button>
  <mat-grid-list cols="4" rowHeight="3:1">
    <mat-grid-tile *ngFor="let tile of tiles"
                   [colspan]="tile.cols"
                   [rowspan]="tile.rows"
                   [style.background]="tile.color"
                   (click)="clicked(tile.text)">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
</div>
<h4>{{sum}}</h4>
